 <div class="container" id="savings_form">
 	
 	<div class="col-md-12">
 		<h1 id="h1-center">Savings</h1>
 	</div>
	
	<div class="col-md-3">
		 <%= form_for(@financial) do |f| %>
		 	<p>
		 		<%= f.label :emergency_savings, "Emergency Savings" %><br>
		 		<%= f.text_field :emergency_savings, value: @financial.emergency_savings || 0  %>
		 	</p>
		 	<p>
		 		<%= f.label :college_savings, "College Savings" %><br>
		 		<%= f.text_field :college_savings, value: @financial.college_savings || 0  %>
		 	</p>
	</div>

	<div class="col-md-3" id="column-before-graph">
		 	<p>
		 		<%= f.label :retirement_savings, "Retirement Savings" %><br>
		 		<%= f.text_field :retirement_savings, value: @financial.retirement_savings || 0  %>
		 	</p>
		 	<p>
		 		<%= f.label :other_savings, "Other Savings" %><br>
		 		<%= f.text_field :other_savings, value: @financial.other_savings || 0  %>
		 	</p>
		 	<hr>
			<p><%= submit_tag 'Submit' %></p>
		<% end %>
	</div>
	
	<div class="col-md-6">

		

	</div>

</div>	