<div class="container">
	<h2 id="forgot">Forgot your password?</h2>
  <hr class="short_line">


	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Send me reset password instructions" %>
	  </div>
	<% end %>
  <div class="rendered_links">
		<%= render "devise/shared/links" %>
	</div>	
</div>
